__pycache__/
*.pyc
*.pyd
.venv/
env/
instance/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.tox/
build/
dist/
__spyder_py3__/
.ropeproject/
.mypy_cache/
.dmypy_cache/
.pyre_cache/
.ruff_cache/
.gitattributes
.gitmodules
node_modules/